# ==========================================================
# DEFAULT & STANDALONE RESOURCES
# ==========================================================

ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure rconlog

# ==========================================================
# DATABASE
# Doit démarrer avant ESX et les ressources SQL
# ==========================================================

ensure oxmysql


# ==========================================================
# ESX LEGACY
# ==========================================================

ensure es_extended

# ==========================================================
# OX LIBRARY
# Doit démarrer avant les ressources utilisant @ox_lib/init.lua
# ==========================================================

ensure ox_lib

# ==========================================================
# ESX / CORE RESOURCES
# ==========================================================

ensure [core]
ensure [esx_addons]

# ==========================================================
# MLO
# ==========================================================

ensure [mlo]



# ==========================================================
# VOCAL
# ==========================================================

ensure [vocal]

# ==========================================================

# ==========================================================

ensure ox_target
ensure ox_inventory
ensure p_bridge # Our Bridge must start BEFORE any of our script
ensure p_itemclothes
ensure illenium-appearance

# ==========================================================
# Standalone RESOURCES
# ==========================================================

ensure [Standalone]

# ==========================================================
# L-STUDIO RESOURCES
# À lancer après ESX / OX
# ==========================================================

ensure [l_studio]

# ==========================================================
# T-STUDIO RESOURCES
# À lancer après ESX / OX
# ==========================================================

ensure [t_studio]