# ==========================================================
# DEFAULT & STANDALONE RESOURCES
# ==========================================================

ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure rconlog

# ==========================================================
# DATABASE
# Doit démarrer avant ESX et les ressources SQL
# ==========================================================

ensure oxmysql


# ==========================================================
# ESX LEGACY
# ==========================================================

ensure es_extended

# ==========================================================
# OX LIBRARY
# Doit démarrer avant les ressources utilisant @ox_lib/init.lua
# ==========================================================

ensure ox_lib

# ==========================================================
# ESX / CORE RESOURCES
# ==========================================================

ensure [core]
ensure [esx_addons]

# ==========================================================
# Standalone RESOURCES
# ==========================================================

ensure [Standalone]

# ==========================================================
# VOCAL
# ==========================================================

ensure [vocal]

# ==========================================================
# OX TARGET
# À démarrer après ox_lib
# ==========================================================

ensure ox_target

# ==========================================================
# OX INVENTORY
# À démarrer après ox_lib, oxmysql et ESX
# ==========================================================

ensure ox_inventory

# ==========================================================
# T-STUDIO RESOURCES
# À lancer après ESX / OX
# ==========================================================

ensure [t_studio]
