############################################################
# T Studio / SERVER.CFG
############################################################

# ==========================================================
# NETWORK
# ==========================================================

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# ==========================================================
# SERVER INFORMATION
# ==========================================================

sv_hostname "T Stuido"
sets sv_projectName "T Stuido"
sets sv_projectDesc "Serveur FiveM RP sous ESX Legacy"
sets locale "fr-FR"
setr illenium-appearance:locale "fr"
setr esx:locale "fr"
setr ox:locale "fr"
# Nested configs!
exec resources.cfg
exec inventory.cfg
# ==========================================================
# SLOTS
# ==========================================================

sv_maxclients 48

# ==========================================================
# GTA V GAME BUILD
# ==========================================================

sv_enforceGameBuild 3751

# ==========================================================
# LICENSE
# ==========================================================

# Mettez entre les guillemets votre clef Steam API ! Retrouvez là ici : https://steamcommunity.com/dev/apikey
set steam_webApiKey "https://steamcommunity.com/dev/apikey" # Je vous ai déjà mis une clef vu que SW on est gentil :)

sv_licenseKey "https://portal.cfx.re/"

# ==========================================================
# DATABASE
# ==========================================================

set mysql_connection_string "mysql://root:@127.0.0.1/basetemplatev3?supportBigNumbers=true&connectTimeout=60000"
set mysql_slow_query_warning 5000
set mysql_ui truee

# ==========================================================
# ONESYNC
# ==========================================================

## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
set onesync on

